<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :class => "simple_form form-horizontal" } ) do |f| %>
  <%= devise_error_messages! %>

  <div class = "control-group string required">
    <%= f.label :email, :class => "string required control-label" %>
    <div class = "controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class = "control-group string required">
    <%= f.label :username, :class => "string required control-label" %>
    <div class = "controls">
      <%= f.text_field :username %>
    </div>
  </div>

  <div class = "control-group string required">
    <%= f.label :name, :class => "string required control-label"  %>
    <div class = "controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class = "control-group string">
  <%= f.label :age, :class => "string control-label" %>
    <div class = "controls">
      <%= f.text_field :age %>
    </div>
  </div>

  <div class = "control-group string">
    <%= f.label :phone, :class => "string control-label" %>
    <div class = "controls">
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class = "control-group string required">
    <%= f.label :password, :class => "string required control-label" %>
    <div class = "controls">
      <%= f.password_field :password %>
    </div>
  </div>
  
  <div class = "control-group string required">
    <%= f.label :password_confirmation, :class => "string required control-label" %>
    <div class = "controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class = "control-group string required">
    <%= f.label :avatar, :class => "string required control-label" %>
      <div class = "controls">
        <%= f.file_field :avatar %>
    </div>
  </div>

  <div class="form-actions"><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
<% end %>

<%= render "links" %>
