<% content_for :api_tool_js do %>
  <%#= javascript_include_tag "swfupload.js" %>
<% end %>

<script type="text/javascript">
  var swfu;
  window.onload = function () { 
    swfu = new SWFUpload({ 
      upload_url : "<%= videos_path %>", 
      flash_url : "/swfupload.swf", 
      file_size_limit : "20 MB" 
    });
  };
</script>

<h1>Upload new video</h1>
<%= form_for @video, :url => videos_path, :html => { :multipart => true, :class => "simple_form form-horizontal" } do |f| %>

  <div class = "control-group string required">
    <%= f.label :name, :class => "string required control-label" %>
    <div class = "controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class = "control-group string required">
    <%= f.label :event_id, :class => "string required control-label" %>
    <div class = "controls">
      <%= f.text_field :event_id %>
    </div>
  </div>

  <div class = "control-group string required">
    <%= f.label :clip, :class => "string required control-label" %>
    <div class = "controls">
      <%= f.file_field :clip %>
    </div>
  </div>

  <div class="form-actions"><%= f.submit "Upload", :class => "btn btn-primary" %></div>


<% end %>

<%= link_to "Videos", videos_path %>
