<% content_for :jq_file_upload do %>
  <%#= javascript_include_tag "swfupload.js" %>
<% end %>


<h1>Upload new video</h1>
<%= form_for @video, :url => videos_path, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :name %>
    <span><%= f.text_field :name %></span>
  </p>
  <p>
    <%= f.label :event_id %>
    <span><%= f.text_field :event_id %></span>
  </p>
  <p>
    <%= f.label :clip %>
    <span><%= f.file_field :clip %></span>
  </p>

  <p>
    <span><%= f.submit "Upload" %></span>
  </p>
<% end %>

<%= link_to "Videos", videos_path %>

