<!DOCTYPE html>
<html>
<head>
  <title>Crowdsync</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :jq_file_upload %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "container">
  <% unless flash[:alert].nil? -%>
    <div class="alert alert-error fade in" data-alert="alert">
    <a class="close" href="#" data-dismiss="alert">×</a>
      <div class="alert alert-error">
        <%= flash[:alert] %>
      </div>
    </div>
  <% end -%>

  <% unless flash[:notice].nil? -%>
    <div class="alert alert-info fade in" data-alert="alert">
      <a class="close" href="#" data-dismiss="alert">×</a>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end -%>
</div>
<div class = "container master-container">
<%= yield %>
</div>
</body>
</html>

