<!DOCTYPE html>
<html>
<head>
  <title>Crowdsync</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</dvi>
<%= yield %>

</body>
</html>
